@model AskMate.Domain.Question

@{
    ViewData["Title"] = "Question";
}



    <div>
        <h4>Question</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Text)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Text)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Like)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Like)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Dislike)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dislike)
            </dd>
        </dl>
        
        <div class="like">
            
            <form action="" method="post">
                @Html.ActionLink("Like", "Like", new { qid = Model.ID })
            </form>
        </div>
        <div class="dislike">
            <form action="" method="post">
                @Html.ActionLink("Dislike", "Dislike", new { qid = Model.ID })
            </form>
        </div>





        @if (Model.ListOfAnswers.Count != 0)
        {
            <ul>
                @foreach (var an in Model.ListOfAnswers)
                {
                    <li>@an.Text</li>
                    @Html.ActionLink("Delete", "DeleteAnswer", new { id = an.ID, qid = Model.ID })

                }
            </ul>
        }
        else
        {
            <p> There are no comments yet. :(</p>
        }


        <form method="post">
            <input type="text" name="comment" placeholder="enter your comment here" value="" />
            <input type="submit" value="Comment" class="btn btn-primary" />
        </form>

    </div>
        <div>
            <a asp-action="QuestionAsking">Ask a question</a>
            <br />
            <a asp-action="QuestionList">View already asked questions</a>
            <br />
            <a asp-action="Index">Back to Home</a>
        </div>

