@model AskMate.Domain.Question

@{
    ViewData["Title"] = "Question";
}

<div>
    <h4>Question</h4>
    <hr />
    <div style="background-color:#e0efff; margin-top:10px;margin-right:370px; border-radius:7px;padding-left:5px;padding-right:5px;">
        <div style="font-size:26px; background-color:#c8e2ff;border-radius:7px;padding-left:3px;padding-right:3px; height:39px">
            <h2 style="float:none">@Model.Title</h2>
        </div>
        <h3 style="max-width:400px; float:none;font-size:20px">@Model.Text</h3>
        <h3 style="font-size:15px; margin-left:93%; padding-bottom:4px">
            <a style="margin-left:0px;" href='@Url.Action("Like", new { qid = Model.ID })'><img style="height:16px; width:10px; " src='@Url.Content("~/upvote.png")' /></a>@Model.Like <a style="margin-left:0px;" href='@Url.Action("Dislike", new { qid = Model.ID })'><img style="height:16px; width:10px; " src='@Url.Content("~/downvote.png")' /></a> @Model.Dislike
        </h3>
    </div>
</div>

@if (Model.Image != null)
{
    <img src="@Model.Image" style="max-height:500px; max-width: 700px" />
}


@if (Model.ListOfAnswers.Count != 0)
{

    @foreach (var an in Model.ListOfAnswers)
    {
        @if (an.Image != null)
        {
            <img src="@an.Image"style="max-height:500px; max-width: 700px" />
        }
        <div style="font-size:17px; background-color:#e0efff;border-radius:7px;padding-left:3px;padding-right:3px;margin-right:430px">
            <div style="font-size:14px; background-color:#e0efff;border-radius:7px;padding-left:3px;padding-right:3px; height:39px;margin-right:430px">
                <h2 style="font-size:24px; float:none; padding-top:10px">@an.Text</h2>
            </div>
            <a style="margin-left:0px; margin-left:90%;padding-bottom:5px" href='@Url.Action("LikeAnswer", new { id = an.ID, qid = Model.ID  })'><img style="padding-bottom:2px;height:16px; width:8px; " src='@Url.Content("~/upvote.png")' /></a>@an.UpVotes <a style="padding-bottom:5px;margin-left:0px;" href='@Url.Action("DislikeAnswer", new { id = an.ID, qid = Model.ID  })'><img style="padding-bottom:2px;height:16px; width:8px; " src='@Url.Content("~/downvote.png")' /></a> @an.DownVotes <a style="padding-bottom:2px;" href='@Url.Action("DeleteAnswer", new {  id = an.ID, qid = Model.ID })'><img style="padding-bottom:2px;height:15px; width:12px; " src='@Url.Content("~/delete.png")' /></a>
        </div>
    }

}
else
{
    <p> There are no comments yet. :(</p>
}


<form method="post" style="margin-top:30px">
    <input type="text" name="comment" placeholder="Enter your comment here" style="width:450px;margin-top:10px" value="" /></br>
    <input type="text" name="image" placeholder="Optional: Insert image url" style="margin-top:10px" value="" /></br>
    <input type="submit" value="Comment" style="margin-top:10px" class="btn btn-primary" />
</form>
<ul class="circles" style="pointer-events:none;  ">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

